@ -1,
391+0,
0 @@ :root {
    --primary-text-color: #212121;
    --title-text-color: #757575;
    --accent-color: #FFFFFF;
    --logo-color: #2196F3;
    --primary-bg-color: #E5E5E5;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}

body {
    /*font-family: 'Raleway',
    sans-serif;*/
    font-family: 'Roboto', sans-serif;
    color: #212121;
    background-color: #E5E5E5;
}

.container {
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
}


.text-list-section,
.staff-section,
.work-section,
.clients-section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.title-section {
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    height: 600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/Bg\(1\).jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.sub-section {
    padding-bottom: 94px;
}

.page-header {
    background-color: #FFFFFF;
    border-bottom: 1px solid #ECECEC;
}

.logo {
    font-family: 'Raleway', sans-serif;
    color: #2196F3;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
    margin-right: 93px;
}

.logo-black {
    font-family: 'Raleway', sans-serif;
    color: #212121;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.logo-white {
    font-family: 'Raleway', sans-serif;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}




.site-nav,
.std-contacts,
.std-contacts-footer,
.text-list,
.img-list,
.staff-list,
.button-list,
.works-list,
.staff-socials {
    list-style-type: none;
}

.page-header>.container {
    display: flex;
    align-items: center;
}

.site-nav {
    display: flex;
    align-items: center;
}

.std-contacts {
    display: flex;
    margin-left: auto;
    padding-top: 32px;
    padding-bottom: 32px;
}

.link-icon-std {
    margin-right: 10px;
    stroke: #757575;
}

.std-contacts .link:hover .link-icon-std {
    stroke: #2196F3;
    stroke-width: 2px;
}

,.std-contacts .link:focus .link-icon-std {
    stroke: #2196F3;
    stroke-width: 2px;
}

.site-nav a {
    display: block;
}

.site-nav li+li,
.std-contacts li+li {
    margin-left: 50px;
}

.site-nav .link {
    padding-top: 32px;
    padding-bottom: 32px;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121
}

.std-contacts .link {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575
}


.site-nav .link:hover,
.site-nav .link:focus,
.std-contacts .link:hover,
.std-contacts .link:focus {
    color: #2196F3;
}

.std-contacts-footer {
    margin-top: 20px;
}

.std-contacts-footer li {
    margin-top: 9px;
}

.std-contacts-footer .link {
    text-decoration: none;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    ;
}

.std-contacts-footer .address {
    text-decoration: none;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}


.main-title {
    max-width: 696px;
    margin: 0 auto 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    color: #FFFFFF;
    letter-spacing: 0.06em;
}

.order-button {
    padding: 10px 32px 10px 32px;
    color: #FFFFFF;
    background-color: #2196F3;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    border-radius: 4px;
}

.text-list-section,
.sub-section {
    background-color: #FFFFFF;
}

.text-list {
    display: flex;
    gap: 30px;
}

.text-list li {
    flex: 1 1 0px;
    max-width: 270px;
    
}


.img-list {
    display: flex;
    gap: 30px;
}

.img-list img {
    width: 100%;
}

.list-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}

.text-list-item {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 270px;
    height: 120px;
    border-radius: 4px;
    background-color: #F5F4FA;
    margin-bottom: 30px;
}


.list-desc {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}

.work-section {
    background-color: #FFFFFF;
}

.subtitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 50px;
}

.staff-section {
    background-color: #F5F4FA;
}

.staff-list {
    display: flex;
    gap: 30px;
}

.staff-list img {
    width: 100%;
}

.staff-box {
    flex: 1 1 0px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;   
}

.staff-list-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 10px;
}

.staff-list-desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: #757575;
    text-align: center;
    margin-bottom: 16px;
}

.staff-div {
    padding-top: 30px;
    padding-bottom: 30px;
}

.staff-socials {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.staff-socials li {
    margin-right: 10px;
}

.socials-link {
    width: 44px;
    height: 44px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #FFFFFF;
    color: #AFB1B8;
}
   
.socials-link:hover,
.socials-link:focus {
    color: #FFFFFF;
    background-color: #2196F3;
}

.socials-icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
}


.works-list-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

}

.works-list-desc {
    font-style: normal;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: #757575;
}

.projects-button {
    background-color: #F5F4FA;
    cursor: pointer;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    text-align: center;
    border-radius: 4px;
    border: 0;
    padding-top: 6px;
    padding-right: 22px;
    padding-bottom: 6px;
    padding-left: 22px;
}

.projects-button:hover,
.projects-button:focus {
    color: #FFFFFF;
    background-color: #2196F3;
    cursor: pointer;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    
}

.page-footer {
    background-color: #2F303A;
    padding: 60px 0;
}


.button-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.button-list li+li {
    margin-left: 8px;
}

.works-list {
    display: flex;
    flex-wrap: wrap;
}

.works-list li {
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    margin-bottom: 30px;
    margin-right: 30px;
    width: 370px;

}

.works-list li:nth-child(3n) {
    margin-right: 0;
}

.works-list li:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.works-list img {
    width: 100%;
}

.works-list-css {
    padding: 20px 24px 20px 24px;
}

.clients-section {
    background-color: #FFFFFF;
}

.clients-list {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.client-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    margin-right: 30px;
    background-color: #FFFFFF;
    color: #AFB1B8;
}



.client-link:hover,
.client-link:focus {
    border: 1px solid #2196F3;
    color: #2196F3;
    background-color: #FFFFFF;
}

.client-icon {
    width: 106px;
    height: 60px;
    fill: currentColor;
}

.std-address-footer,
.std-sm-footer {
    display: inline-block;
    vertical-align: top;
    padding-right: 70px;

}
.footer-title {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    width: 145px;
    height: 16px;
    margin-top: 12px;
    margin-bottom: 20px;
    
}

.footer-sm-list {
    list-style-type: none;
}

.footer-sl {
    display: inline-block;
    margin-right: 10px;
   
}

.footer-socials-link {
    display: flex;
    justify-content: center;
    width: 44px;
    height: 44px;
    align-items: center;
    border-radius: 50%;
    color: #FFFFFF;
    background: #44454e;
}

.footer-socials-link:hover,
.footer-socials-link:focus {
    background-color: #2196F3;
}

.ft-socials-icon {
    width: 20px;
    height: 20px;
    fill: #FFFFFF;
}